@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Office:</h3>
<address>
    Marant Properties LLC<br />
    828 Cherry Street<br />
    Green Bay, WI 54301<br />
    </address>
<h3>Business Hours: 9-5 Monday-Thursday</h3>
<address>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email: </strong>   <a href="mailto:Rusty@marantpropertiesllc.com">rusty@marantpropertiesllc.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
<h3><strong>GET IN TOUCH WITH US!</strong></h3>
<h5>YOUR EMAIL ADDRESS WILL NOT BE PUBLISHED</h5>
